<html lang="en">

<!-- Header file -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="apple-touch-icon" sizes="180x180" href="fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="fav/favicon-16x16.png">
    <link rel="manifest" href="fav/site.webmanifest">
    <link rel="mask-icon" href="fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <style type="text/css">
        body,
        html {
            overflow: hidden;
        }

        #loading-modal {
            position: absolute;
            width: 100%;
            height: 100%;
            background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            /* FF3.6-15 */
            background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
            /* IE6-9 fallback on horizontal gradient */
            /*================*/
            z-index: 9999;
        }

        #loading-modal-content {
            width: 175px;
            margin: 15% auto;
            text-align: center;
        }
    </style>
</head>
<!-- Header file -->

<body data-target="mnappsetting" class="open-menu" style="overflow: visible;">
  <div id="loading-modal">
    <div id="loading-modal-content">
      <p style="color:#000">Loading page, please wait</p>
      <p><img src="assets/img/loader.svg" alt=""></p>
    </div>
  </div>
  <title>App Settings - PassCess Control Panel</title>

  <!-- Bootstrap -->
  <?php include('css.php');?>

  <div id="wrapper" class="toggled">
    <!-- #sidebar-wrapper -->
    <div id="sidebar-wrapper">
      <?php include('menubar.php');?>
    </div>
    <!-- #sidebar-wrapper -->

    <!-- #menu-toggle -->
    <div id="menu-toggle" class="side-bar-btn"><i id="menu-toggle" class="glyphicon glyphicon-option-vertical"></i></div>
    <!-- #menu-toggle -->

    <!-- page-content-wrapper -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="col-md-124">
          <div style="height: 0px"></div>
            <div class="panel panel-default" style="position: static;">
              <div class="panel-heading">
                <small class="pull-left">App Settings</small>
                <small class="pull-right">PassCess</small>
                <div class="clearfix"></div>
              </div>
              <div class="panel-body">
                <!-- Header -->
                <div class="row-fluid">
                  <?php include('logo.php');?>
                </div>
                <!-- Header -->
                <div class="col-sm-12 col-md-12 col-lg-12">&nbsp;</div>
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#UpdateApprules">Global App Rules</a></li>
                  <li><a data-toggle="tab" href="#UpdateDomain">App Domain Tools</a></li>
                </ul>

                <div class="tab-content">
                  <div id="UpdateDomain" class="tab-pane fade">
<!-- App domain tools starts here -->
                    <div id = "appdomain">
                      <div class="row-fluid" id="main-page-content">
                        <div class="col-lg-12 col-md-12">
                          <h3 class="form-title">Check Domains / URL</h3>
                          <div class="row-fluid">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                              <table id="appdomaindata" class="table table-bordered table-striped table-condensed table-hover nowrap" width="100%"></table>
                            </div>
                          </div>
                            <!-- end of page content  -->
                        </div>
                      </div>

                      <!-- Edit Modal -->
                      <div class="modal fade" id="myModalEditdomain" role="dialog" v-if="showEditModaldomain">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" v-on:click="showEditModaldomain=false;" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                              </button>
                              <h5 class="modal-title"><b>Assign Apps</b></h5>
                            </div>
                            <div class="modal-body">
                              <form action="#" method="get" autocomplete="off">
                                <div class="form-group">
                                  <span>ID :</span>
                                  <p v-if="appdomain.CombinedID==''">
                                    <input type="text" name="idDomain" id="editid" class="form-control form-control-lg" v-model="currDomain.id" disabled>
                                  <p v-else>
                                    <input type="text" name="idDomain" id="editid" class="form-control form-control-lg" v-model="appdomain.CombinedID" disabled>
                                </div>
                                <div class="form-group">
                                  <span>Domain / URL :</span>
                                  <input type="text" name="domainurl" id="editurl" class="form-control form-control-lg" v-model="currDomain.app" disabled>
                                </div>
                                <div class="form-group">
                                  <span>Group App :</span>
                                  <select class="form-control form-control-lg" id="editapplist" v-model="currAppEdit.app" >
                                    <option v-for="option in optAppDomain" v-bind:value="option.app">
                                      {{ option.app }}
                                    </option>
                                  </select>
                                </div>
                                <div class="form-group">
                                  <div class="form-check">
                                     <label>
                                       <input type="checkbox" class="form-check-input" v-model="checkApp" true-value="1" false-value="0" v-on:change="checkAppDomain(newAppEdit.app)">
                                       New App Domain :
                                     </label>
                                 </div>
                                  <input type="text" name="newDomain" id="editnewDomain" class="form-control form-control-lg" v-model="newAppEdit.app" v-bind:disabled="enableText">
                                </div>

                                <div class="form-group">
                                  <button type="button" id="editbtn" class="btn btn-primary" v-on:click="showEditModaldomain=false; updateDomain();" data-dismiss="modal">Update</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- end modal -->

                      <!-- Delete Modal -->
                      <div class="modal fade" id="myModalDeldomain" role="dialog" v-if="showDeleteModaldomain">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" v-on:click="showDeleteModaldomain=false" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                              </button>
                              <h5 class="modal-title"><b>App Domain Tools</b></h5>
                            </div>
                            <div class="modal-body">
                              <h5 class="text-dark">Delete &nbsp; {{ currDomain.app }} ?</h5>
                              <hr>
                              <button type="button" class="btn btn-danger" v-on:click="showDeleteModaldomain=false; deleteDomain();" data-dismiss="modal">YES</button>
                              &nbsp;&nbsp;&nbsp;&nbsp;
                              <button type="button" class="btn btn-primary" v-on:click="showDeleteModaldomain=false;" data-dismiss="modal">NO</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- end modal -->

                    </div>
                    <!-- end appuser -->

                  </div>
                  <div id="UpdateApprules" class="tab-pane fade in active">
<!-- global app rules starts here -->
                    <div id = "globalapps">
                      <div class="row-fluid" id="main-page-content">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <h1 class="form-title">Global App rules</h1>
                            <!-- page contents go here -->
                            <div class="row-fluid">
                              <div class="col-sm-4 col-md-4 col-lg-4" v-show="btnShow">
                                <!-- <span>&nbsp;</span></br> -->
                                <button type="button" class="btn btn-primary btn-sm" v-on:click="checkUser(1); chckAdd=false; newRules.appname=''" data-toggle="modal" data-target="#myModalAddApp">
                                  Add App
                                </button>
                              </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12"><hr></div>

                            <div class="row-fluid">
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                <div v-for="(settApps, index) in appList">
                                  <!-- Start Firewall App -->
                                  <div class="firewall-app col-sm-4 col-md-4 col-lg-4">
                                    <div v-if="settApps.text==='Facebook'">
                                      <img src="assets/img/fb.png" alt="" width="25" height="25" />
                                      <label>Facebook & FB Messenger</label>
                                    </div>
                                    <div v-else-if="settApps.text==='WhatsApp'">
                                      <img src="assets/img/whatsapp.png" alt="" width="25" height="25" />
                                      <label>{{ settApps.text }}</label>
                                    </div>
                                    <div v-else-if="settApps.text==='Viber'">
                                      <img src="assets/img/viber.png" alt="" width="25" height="25" />
                                      <label>{{ settApps.text }}</label>
                                    </div>
                                    <div v-else-if="settApps.text==='Line'">
                                      <img src="assets/img/line.png" alt="" width="25" height="25" />
                                      <label>{{ settApps.text }}</label>
                                    </div>
                                    <div v-else-if="settApps.text==='Instagram'">
                                      <img src="assets/img/instagram.png" alt="" width="25" height="25" />
                                      <label>{{ settApps.text }}</label>
                                    </div>
                                    <div v-else-if="settApps.text==='Wechat'">
                                      <img src="assets/img/wechat.png" alt="" width="25" height="25" />
                                      <label>{{ settApps.text }}</label>
                                    </div>
                                    <div v-else-if="settApps.text==='Twitter'">
                                      <img src="assets/img/twitter.png" alt="" width="25" height="25" />
                                      <label>{{ settApps.text }}</label>
                                    </div>
                                    <div v-else-if="settApps.text==='TikTok'">
                                      <img src="assets/img/tiktok.png" alt="" width="25" height="25" />
                                      <label>{{ settApps.text }}</label>
                                    </div>
                                    <div v-else-if="settApps.text==='Youtube'">
                                      <img src="assets/img/youtube.png" alt="" width="25" height="25" />
                                      <label>{{ settApps.text }}</label>
                                    </div>
                                    <div v-else-if="settApps.text==='defaults'">
                                      <img src="assets/img/passcess.png" alt="" width="25" height="25" />
                                      <label>PassCess Default</label>
                                    </div>
                                    <div v-else>
                                      <label>Other Apps</label>
                                    </div>

                                    <ul v-for="(settvalue, index) in appsett.appsettings" v-if="settvalue.appname==settApps.text">
                                      <li>
                                        <label style="padding-left:23px">
                                          <button class="borderless-button" v-on:click="checkUser(2); selectAdvSettings(settvalue);"
                                            data-toggle="modal" data-target="#myModalEdit">&nbsp; {{ settvalue.appfeatures }}
                                          </button>
                                        </label>
                                      </li>
                                    </ul>
                                    <ul v-if="settApps.text != 'defaults'">
                                      <div class="form-group">
                                        <button type="button" class="btn btn-secondary btn-xs btn-block" v-on:click="checkUser(1); chckAdd=true; newRules.appname=settApps.text"
                                          data-toggle="modal" data-target="#myModalAddApp">+ &nbsp; Add App Function</button>
                                      </div>
                                    </ul>

                                  </div>
                                  <!-- End Firewall App -->
                                </div>


                                <!-- Start Firewall App -->
                                <!-- <div class="firewall-app col-sm-4 col-md-4 col-lg-4">
                                  <img src="assets/img/fb.png" alt="" width="25" height="25" />
                                  <label>Facebook & FB Messenger</label>
                                  <ul v-for="(settvalue, index) in appsett.appsettings" v-if="settvalue.appname=='Facebook'">
                                   <li>
                                     <label style="padding-left:23px">
                                       <button class="borderless-button" v-on:click="checkUser(2); selectAdvSettings(settvalue);"
                                         data-toggle="modal" data-target="#myModalEdit">&nbsp; {{ settvalue.appfeatures }}
                                       </button>
                                     </label>
                                   </li>
                                  </ul>
                                  <ul>
                                    <div class="form-group">
                                      <button type="button" class="btn btn-secondary btn-xs btn-block" v-on:click="checkUser(1); chckAdd=true; newRules.appname='Facebook'"
                                        data-toggle="modal" data-target="#myModalAddApp">+ &nbsp; Add App Function</button>
                                    </div>
                                  </ul>
                                </div> -->
                                <!-- End Firewall App -->

                                <!-- Start Firewall App -->
                                <!-- <div class="firewall-app col-sm-4 col-md-4 col-lg-4">
                                  <img src="assets/img/whatsapp.png" alt="" width="25" height="25" />
                                  <label>WhatsApp</label>
                                  <ul v-for="(settvalue, index) in appsett.appsettings" v-if="settvalue.appname=='WhatsApp'">
                                   <li>
                                     <label style="padding-left:23px">
                                       <button class="borderless-button" v-on:click="checkUser(2); selectAdvSettings(settvalue);"
                                         data-toggle="modal" data-target="#myModalEdit">&nbsp; {{ settvalue.appfeatures }}
                                       </button>
                                     </label>
                                   </li>
                                  </ul>
                                  <ul>
                                    <div class="form-group">
                                      <button type="button" class="btn btn-secondary btn-xs btn-block" v-on:click="checkUser(1); chckAdd=true; newRules.appname='WhatsApp'"
                                        data-toggle="modal" data-target="#myModalAddApp">+ &nbsp; Add App Function</button>
                                    </div>
                                  </ul>
                                </div> -->
                                <!-- End Firewall App -->

                                <!-- Start Firewall App -->
                                <!-- <div class="firewall-app col-sm-4 col-md-4 col-lg-4">
                                  <img src="assets/img/viber.png" alt="" width="25" height="25" />
                                  <label>Viber</label>
                                  <ul v-for="(settvalue, index) in appsett.appsettings" v-if="settvalue.appname=='Viber'">
                                   <li>
                                     <label style="padding-left:23px">
                                       <button class="borderless-button" v-on:click="checkUser(2); selectAdvSettings(settvalue);"
                                         data-toggle="modal" data-target="#myModalEdit">&nbsp; {{ settvalue.appfeatures }}
                                       </button>
                                     </label>
                                   </li>
                                  </ul>
                                  <ul>
                                    <div class="form-group">
                                      <button type="button" class="btn btn-secondary btn-xs btn-block" v-on:click="checkUser(1); chckAdd=true; newRules.appname='Viber'"
                                        data-toggle="modal" data-target="#myModalAddApp">+ &nbsp; Add App Function</button>
                                    </div>
                                  </ul>
                                </div> -->
                                <!-- End Firewall App -->

                                <!-- Start Firewall App -->
                                <!-- <div class="firewall-app col-sm-4 col-md-4 col-lg-4">
                                  <img src="assets/img/line.png" alt="" width="25" height="25" />
                                  <label>Line</label>
                                  <ul v-for="(settvalue, index) in appsett.appsettings" v-if="settvalue.appname=='Line'">
                                   <li>
                                     <label style="padding-left:23px">
                                       <button class="borderless-button" v-on:click="checkUser(2); selectAdvSettings(settvalue);"
                                         data-toggle="modal" data-target="#myModalEdit">&nbsp; {{ settvalue.appfeatures }}
                                       </button>
                                     </label>
                                   </li>
                                  </ul>
                                  <ul>
                                    <div class="form-group">
                                      <button type="button" class="btn btn-secondary btn-xs btn-block" v-on:click="checkUser(1); chckAdd=true; newRules.appname='Line'"
                                        data-toggle="modal" data-target="#myModalAddApp">+ &nbsp; Add App Function</button>
                                    </div>
                                  </ul>
                                </div> -->
                                <!-- End Firewall App -->

                                <!-- Start Firewall App -->
                                <!-- <div class="firewall-app col-sm-4 col-md-4 col-lg-4">
                                  <img src="assets/img/instagram.png" alt="" width="25" height="25" />
                                  <label>Instagram</label>
                                  <ul v-for="(settvalue, index) in appsett.appsettings" v-if="settvalue.appname=='Instagram'">
                                   <li>
                                     <label style="padding-left:23px">
                                       <button class="borderless-button" v-on:click="checkUser(2); selectAdvSettings(settvalue);"
                                         data-toggle="modal" data-target="#myModalEdit">&nbsp; {{ settvalue.appfeatures }}
                                       </button>
                                     </label>
                                   </li>
                                  </ul>
                                  <ul>
                                    <div class="form-group">
                                      <button type="button" class="btn btn-secondary btn-xs btn-block" v-on:click="checkUser(1); chckAdd=true; newRules.appname='Instagram'"
                                        data-toggle="modal" data-target="#myModalAddApp">+ &nbsp; Add App Function</button>
                                    </div>
                                  </ul>
                                </div> -->
                                <!-- End Firewall App -->

                                <!-- Start Firewall App -->
                                <!-- <div class="firewall-app col-sm-4 col-md-4 col-lg-4">
                                  <img src="assets/img/wechat.png" alt="" width="25" height="25" />
                                  <label>Wechat</label>
                                  <ul v-for="(settvalue, index) in appsett.appsettings" v-if="settvalue.appname=='Wechat'">
                                   <li>
                                     <label style="padding-left:23px">
                                       <button class="borderless-button" v-on:click="checkUser(2); selectAdvSettings(settvalue);"
                                         data-toggle="modal" data-target="#myModalEdit">&nbsp; {{ settvalue.appfeatures }}
                                       </button>
                                     </label>
                                   </li>
                                  </ul>
                                  <ul>
                                    <div class="form-group">
                                      <button type="button" class="btn btn-secondary btn-xs btn-block" v-on:click="checkUser(1); chckAdd=true; newRules.appname='Wechat'"
                                        data-toggle="modal" data-target="#myModalAddApp">+ &nbsp; Add App Function</button>
                                    </div>
                                  </ul>
                                </div> -->
                                <!-- End Firewall App -->

                                <!-- Start Firewall App -->
                                <!-- <div class="firewall-app col-sm-4 col-md-4 col-lg-4">
                                  <img src="assets/img/twitter.png" alt="" width="25" height="25" />
                                  <label>Twitter</label>
                                  <ul v-for="(settvalue, index) in appsett.appsettings" v-if="settvalue.appname=='Twitter'">
                                   <li>
                                     <label style="padding-left:23px">
                                       <button class="borderless-button" v-on:click="checkUser(2); selectAdvSettings(settvalue);"
                                         data-toggle="modal" data-target="#myModalEdit">&nbsp; {{ settvalue.appfeatures }}
                                       </button>
                                     </label>
                                   </li>
                                  </ul>
                                  <ul>
                                    <div class="form-group">
                                      <button type="button" class="btn btn-secondary btn-xs btn-block" v-on:click="checkUser(1); chckAdd=true; newRules.appname='Twitter'"
                                        data-toggle="modal" data-target="#myModalAddApp">+ &nbsp; Add App Function</button>
                                    </div>
                                  </ul>
                                </div> -->
                                <!-- End Firewall App -->

                                <!-- Start Firewall App -->
                                <!-- <div class="firewall-app col-sm-4 col-md-4 col-lg-4">
                                  <img src="assets/img/tiktok.png" alt="" width="25" height="25" />
                                  <label>TikTok</label>
                                  <ul v-for="(settvalue, index) in appsett.appsettings" v-if="settvalue.appname=='TikTok'">
                                   <li>
                                     <label style="padding-left:23px">
                                       <button class="borderless-button" v-on:click="checkUser(2); selectAdvSettings(settvalue);"
                                         data-toggle="modal" data-target="#myModalEdit">&nbsp; {{ settvalue.appfeatures }}
                                       </button>
                                     </label>
                                   </li>
                                  </ul>
                                  <ul>
                                    <div class="form-group">
                                      <button type="button" class="btn btn-secondary btn-xs btn-block" v-on:click="checkUser(1); chckAdd=true; newRules.appname='TikTok'"
                                        data-toggle="modal" data-target="#myModalAddApp">+ &nbsp; Add App Function</button>
                                    </div>
                                  </ul>
                                </div> -->
                                <!-- End Firewall App -->

                                <!-- Start Firewall App -->
                                <!-- <div class="firewall-app col-sm-4 col-md-4 col-lg-4">
                                  <img src="assets/img/youtube.png" alt="" width="25" height="25" />
                                  <label>Youtube</label>
                                  <ul v-for="(settvalue, index) in appsett.appsettings" v-if="settvalue.appname=='Youtube'">
                                   <li>
                                     <label style="padding-left:23px">
                                       <button class="borderless-button" v-on:click="checkUser(2); selectAdvSettings(settvalue);"
                                         data-toggle="modal" data-target="#myModalEdit">&nbsp; {{ settvalue.appfeatures }}
                                       </button>
                                     </label>
                                   </li>
                                  </ul>
                                  <ul>
                                    <div class="form-group">
                                      <button type="button" class="btn btn-secondary btn-xs btn-block" v-on:click="checkUser(1); chckAdd=true; newRules.appname='Youtube'"
                                        data-toggle="modal" data-target="#myModalAddApp">+ &nbsp; Add App Function</button>
                                    </div>
                                  </ul>
                                </div> -->
                                <!-- End Firewall App -->

                                <!-- Start Firewall App -->
                                <!-- <div class="firewall-app col-sm-4 col-md-4 col-lg-4" v-show="btnShow">
                                  <label>PassCess Default</label>
                                  <ul v-for="(settvalue, index) in appsett.appsettings" v-if="settvalue.appname=='defaults'" >
                                   <li>
                                     <label style="padding-left:23px">
                                       <button class="borderless-button" v-on:click="checkUser(2); selectAdvSettings(settvalue);"
                                         data-toggle="modal" data-target="#myModalEdit">&nbsp; {{ settvalue.appfeatures }}
                                       </button>
                                     </label>
                                   </li>
                                  </ul>
                                </div> -->
                                <!-- End Firewall App -->

                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Add Modal -->
                  <div class="modal fade" id="myModalAddApp" role="dialog" v-if="showAddModal">
                    <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" v-on:click="showAddModal=false" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <h5 class="modal-title"><b>Add App</b></h5>
                        </div>
                        <div class="modal-body">
                          <form action="#" method="get">
                            <div class="form-group">
                              <span>Name</span>
                              <input type="text" name="addname" id="addname" class="form-control form-control-lg" v-on:keyup.enter="setFocus('addfeature')" v-model="newRules.appname" v-bind:disabled="chckAdd">
                            </div>
                            <div class="form-group">
                              <span>Feature</span>
                              <input type="text" name="addfeature" id="addfeature" class="form-control form-control-lg" placeholder="Feature" v-on:keyup.enter="setFocus('addrule')" v-model="newRules.appfeatures">
                            </div>
                            <div class="form-group">
                              <span>App Rules / IP Set</span>
                              <input type="text" name="addrule" id="addrule" class="form-control form-control-lg" placeholder="App Rules" v-on:keyup.enter="setFocus('adddomain')" v-model="newRules.apprules">
                            </div>
                            <div class="form-group">
                              <span>Domain</span>
                              <input type="text" name="adddomain" id="adddomain" class="form-control form-control-lg" placeholder="Domain" v-on:keyup.enter="setFocus('addstat')" v-model="newRules.appdomains">
                            </div>
                            <!-- <div class="form-group">
                              <span>Status</span>
                              <select class="form-control form-control-lg" id="addstat" v-model="newRules.appruleenabled">
                                <option v-for="option in optActive" v-bind:value="option.value">
                                  {{ option.text }}
                                </option>
                              </select>
                            </div> -->
                            <div class="form-group">
                              <button type="button" id="addbtn" class="btn btn-primary btn-sm" v-on:click="showAddModal=false; addAppRule();" data-dismiss="modal">Add App</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end modal -->

                  <!-- Edit Modal -->
                  <div class="modal fade" id="myModalEdit" role="dialog" v-if="showEditModal">
                    <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" v-on:click="showEditModal=false;" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <h5 class="modal-title"><b>Edit App</b></h5>
                        </div>
                        <div class="modal-body">
                          <form action="#" method="get">
                            <div class="form-group">
                              <span>Name</span>
                              <input type="text" name="editfeature" id="editfeature" class="form-control form-control-lg" v-on:keyup.enter="setFocus('editrule')" v-model="currappsett.appname" disabled>
                            </div>
                            <div class="form-group">
                              <span>Feature</span>
                              <input type="text" name="editfeature" id="editfeature" class="form-control form-control-lg" v-on:keyup.enter="setFocus('editrule')" v-model="currappsett.appfeatures">
                            </div>
                            <div class="form-group">
                              <span>App Rules / IP Set</span>
                              <input type="text" name="editrule" id="editrule" class="form-control form-control-lg" v-on:keyup.enter="setFocus('editdomain')" v-model="currappsett.apprules">
                            </div>
                            <div class="form-group">
                              <span>Domain</span>
                              <input type="text" name="editdomain" id="editdomain" class="form-control form-control-lg" v-on:keyup.enter="setFocus('editstat')" v-model="currappsett.appdomains">
                            </div>
                            <!-- <div class="form-group">
                              <span>Status</span>
                              <select class="form-control form-control-lg" id="editstat" v-model="currappsett.appruleenabled">
                                <option v-for="option in optActive" v-bind:value="option.value">
                                  {{ option.text }}
                                </option>
                              </select>
                            </div> -->
                            <div class="form-group">
                              <button type="button" id="editbtn" class="btn btn-primary btn-sm" v-on:click="showEditModal=false; updateAppRule();" data-dismiss="modal">Edit App</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end modal -->


                </div>
                <!-- end tab -->
              </div>

            </div>
          </div>
        </div>
        <!-- /#page-content-wrapper -->
      </div>
      <!-- /#wrapper -->

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <?php include('footer.php');?>
      <script type="text/javascript" src="assets/js/domaintools.js"></script>
      <script type="text/javascript" src="assets/js/globalapprule.js"></script>
      <script>
        $('#systemmngt').addClass('mm-active');
        $('#systemmngt').find('ul').addClass('mm-collapse mm-show');

        checkMenuPermission();
        var BodyEl = document.getElementsByTagName('body');
        var menuObj = document.getElementById(BodyEl[0].dataset.target);
        menuObj.classList.add('current-active');
      </script>
      <link rel="stylesheet" href="./assets/datatables/jquery.dataTables.min.css"/>
      <script src="./assets/datatables/jquery.dataTables.min.js"></script>
      <link rel="stylesheet" href="./assets/css/datatable_sort.css"/>
      <script src="./assets/datatables/input.js"></script>
      <script>
        AttachEvent(document, 'click', ResetTime);
        AttachEvent(document, 'mousemove', ResetTime);
        AttachEvent(document, 'keypress', ResetTime);
        AttachEvent(window, 'load', ResetTime);

        try {
          _localStorage = window.localStorage;
        }
        catch (ex) {
        }

        _idleSecondsTimer = window.setInterval(CheckIdleTime, 1000);
      </script>

    </div>
</body>

</html>
