<html lang="en">

<!-- Header file -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="apple-touch-icon" sizes="180x180" href="fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="fav/favicon-16x16.png">
    <link rel="manifest" href="fav/site.webmanifest">
    <link rel="mask-icon" href="fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <style type="text/css">
        body,
        html {
            overflow: hidden;
        }

        #loading-modal {
            position: absolute;
            width: 100%;
            height: 100%;
            background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            /* FF3.6-15 */
            background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
            /* IE6-9 fallback on horizontal gradient */
            /*================*/
            z-index: 9999;
        }

        #loading-modal-content {
            width: 175px;
            margin: 15% auto;
            text-align: center;
        }
    </style>

</head>
<!-- Header file -->

<body data-target="mnGenerateVoucher" class="open-menu" style="overflow: visible;">
  <div id="loading-modal">
    <div id="loading-modal-content">
      <p style="color:#000">Loading page, please wait</p>
      <p><img src="assets/img/loader.svg" alt=""></p>
    </div>
  </div>
  <title>Generate Voucher - PassCess Control Panel</title>

  <!-- Bootstrap -->
  <?php include('css.php');?>

  <div id="wrapper" class="toggled">
    <!-- #sidebar-wrapper -->
    <div id="sidebar-wrapper">
      <?php include('menubar.php');?>
    </div>
    <!-- #sidebar-wrapper -->

    <!-- #menu-toggle -->
    <div id="menu-toggle" class="side-bar-btn"><i id="menu-toggle" class="glyphicon glyphicon-option-vertical"></i></div>
    <!-- #menu-toggle -->

    <!-- page-content-wrapper -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="col-md-124">
          <div style="height: 0px"></div>
            <div class="panel panel-default" style="position: static;">
              <div class="panel-heading">
                <small class="pull-left">System Settings</small>
                <small class="pull-right">PassCess</small>
                <div class="clearfix"></div>
              </div>
              <div class="panel-body">
                <!-- Header -->
                <div class="row-fluid">
                  <?php include('logo.php');?>
                </div>
                <!-- Header -->
                <div id = "vouch">
                  <div class="row-fluid" id="main-page-content">
                    <div class="col-lg-12 col-md-12">
                      <h1 class="form-title">Voucher Settings</h1>
                        <!-- page contents go here -->

                        <div class="row-fluid">

                          <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <ul class="nav nav-tabs">
                              <li class="active"><a data-toggle="tab" href="#genVoucher">Generate Voucher</a></li>
                              <li><a data-toggle="tab" href="#genVouchSett">Auto Generate Settings</a></li>
                            </ul>
                          </div>

                          <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <div class="tab-content">

                              <div id="genVoucher" class="tab-pane fade in active">
                                <h4 class="form-title">Generate Voucher</h4>
                                  <div class="form-row">
                                    <div class="form-group col-sm-3 col-md-3 col-lg-3">
                                      <label for="numvoucher">Enter Number of Vouchers to Generate</label>
                                      <input type="text" id="vouchcount" name="vouchcount" class="form-control form-control-sm" v-model="vouchData.count" v-on:click="setFocus('1');"
                                        maxlength="5" autocomplete="off" onkeypress="return AllowOnlyNumbers(event);">
                                      <hr>
                                      <button class="btn btn-primary btn-sm" v-on:click="getVoucher();">Generate Voucher</button>
                                    </div>
                                    <div class="form-group col-sm-6 col-md-6 col-lg-6">
                                      <table id="genvouchdata" class="table table-striped table-condensed table-hover" width="100%"></table>
                                    </div>
                                  </div>
                              </div>

                              <div id="genVouchSett" class="tab-pane fade" v-for="(gensett, index) in vouchGenSett" :key="gensett.id">
                                <h4 class="form-title">Auto Generate Settings</h4>
                                  <div class="form-row">
                                    <div class="col-sm-12 col-md-12 col-lg-12" style="padding: 0;">
                                      <div class="form-group col-sm-3 col-md-3 col-lg-3">
                                        <label for="numvoucher">Minimum Value to Check Availability</label>
                                        <input id="vouchminvalue" type="text" class="form-control form-control-sm" v-model="gensett.settings.genvoucher_minimum" v-on:click="setFocus('2');"
                                          maxlength="6" v-model="vouchSett.minValuetmp" @blur="formatMinvalue();" onkeypress="return AllowOnlyNumbers(event);">
                                      </div>
                                    </div>


                                    <div class="col-sm-12 col-md-12 col-lg-12" style="padding: 0;">
                                      <div class="form-group col-sm-3 col-md-3 col-lg-3">
                                        <label for="numvoucher">Default Value to Auto Generate</label>
                                        <input id="vouchdefaultvalue" type="text" class="form-control form-control-sm" v-model="gensett.settings.genvoucher_trigger" v-on:click="setFocus('3');"
                                          maxlength="6" v-model="vouchSett.defaultValuetmp" @blur="formatDefaultvalue();" onkeypress="return AllowOnlyNumbers(event);">
                                      </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-12"><hr></div>
                                    <div class="form-group col-sm-3 col-md-3 col-lg-3">
                                      <button class="btn btn-primary btn-sm" v-on:click="updateVoucherSett();">Update Settings</button>
                                    </div>
                                  </div>
                              </div>


                            </div>
                          </div>

                        </div>
                        <!-- end of page content  -->
                    </div>
                  </div>

                  <!-- process Modal -->
                  <div class="modal fade" id="myModalProcess" role="dialog">
                    <div class="modal-dialog-center" role="document" style="border: none; width: auto">
                        <div class="modal-content" style="background:none;">
                        <!-- <div class="modal-header">&nbsp;</div> -->
                        <!-- <div class="modal-body"> -->
                          <div class="loader"></div>
                        <!-- </div> -->
                        <!-- <div class="modal-footer">&nbsp;</div> -->
                      </div>
                    </div>
                  </div>
                  <!-- end modal -->

                </div>
                <!-- end vouch -->
              </div>
            </div>
          </div>
        </div>
        <!-- /#page-content-wrapper -->
      </div>
      <!-- /#wrapper -->

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <?php include('footer.php');?>
      <script type="text/javascript" src="assets/js/genvouch.js"></script>
      <script type="text/javascript" src="assets/js/numeral.min.js"></script>
      <script>
        $('#systemmngt').addClass('mm-active');
        $('#systemmngt').find('ul').addClass('mm-collapse mm-show');

        $(document).ready(function(){
          $(".nav-tabs a").click(function(){
            $(this).tab('show');
          });
        });

        checkMenuPermission();

        var BodyEl = document.getElementsByTagName('body');
        var menuObj = document.getElementById(BodyEl[0].dataset.target);
        menuObj.classList.add('current-active');
      </script>
      <link rel="stylesheet" href="./assets/datatables/jquery.dataTables.min.css"/>
      <script src="./assets/datatables/jquery.dataTables.min.js"></script>
      <link rel="stylesheet" href="./assets/css/datatable_sort.css"/>
      <script src="./assets/datatables/input.js"></script>
      <script>
        AttachEvent(document, 'click', ResetTime);
        AttachEvent(document, 'mousemove', ResetTime);
        AttachEvent(document, 'keypress', ResetTime);
        AttachEvent(window, 'load', ResetTime);

        try {
          _localStorage = window.localStorage;
        }
        catch (ex) {
        }

        _idleSecondsTimer = window.setInterval(CheckIdleTime, 1000);
      </script>

    </div>
</body>

</html>
