<html lang="en">

<!-- Header file -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="apple-touch-icon" sizes="180x180" href="fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="fav/favicon-16x16.png">
    <link rel="manifest" href="fav/site.webmanifest">
    <link rel="mask-icon" href="fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <style type="text/css">
        body,
        html {
            overflow: hidden;
        }

        #loading-modal {
            position: absolute;
            width: 100%;
            height: 100%;
            background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            /* FF3.6-15 */
            background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
            /* IE6-9 fallback on horizontal gradient */
            /*================*/
            z-index: 9999;
        }

        #loading-modal-content {
            width: 175px;
            margin: 15% auto;
            text-align: center;
        }
    </style>
</head>
<!-- Header file -->

<body data-target="mncontrolpanel" class="open-menu" style="overflow: visible;">
  <div id="loading-modal">
    <div id="loading-modal-content">
      <p style="color:#000">Loading page, please wait</p>
      <p><img src="assets/img/loader.svg" alt=""></p>
    </div>
  </div>
  <title>Control Panel User - PassCess Control Panel</title>

  <!-- Bootstrap -->
  <?php include('css.php');?>

  <div id="wrapper" class="toggled">
    <!-- #sidebar-wrapper -->
    <div id="sidebar-wrapper">
      <?php include('menubar.php');?>
    </div>
    <!-- #sidebar-wrapper -->

    <!-- #menu-toggle -->
    <div id="menu-toggle" class="side-bar-btn"><i id="menu-toggle" class="glyphicon glyphicon-option-vertical"></i></div>
    <!-- #menu-toggle -->

    <!-- page-content-wrapper -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="col-md-124">
          <div style="height: 0px"></div>
            <div class="panel panel-default" style="position: static;">
              <div class="panel-heading">
                <small class="pull-left">System Settings</small>
                <small class="pull-right">PassCess</small>
                <div class="clearfix"></div>
              </div>
              <div class="panel-body">
                <!-- Header -->
                <div class="row-fluid">
                  <?php include('logo.php');?>
                </div>
                <!-- Header -->
                <div id="appuser">
                  <div class="row-fluid" id="main-page-content">
                    <div class="col-lg-12 col-md-12">
                      <h1 class="form-title">Control Panel User</h1>
                        <!-- page contents go here -->
                        <!-- <form action="javascript:void(0)" class=""> -->
                          <div class="row-fluid">
                            <div class="col-sm-12 col-md-12 col-lg-12" style="padding: 0;" v-show="btnShow">
                              <div class="col-sm-6 col-md-6 col-lg-6" v-show="btnAction.hide">
                                <button type="button" class="btn btn-primary btn-sm" v-on:click="checkUser(1); setFocusModal('1');"
                                    data-toggle="modal" data-target="#myModalAdd">Add Control Panel User</button>
                              </div>
                              <div class="col-sm-4 col-md-4 col-lg-4" v-show="btnAction.show">
                                <div class="input-group">
                                  <span class="input-group-addon">Action </span>
                                  <select class="form-control" id="actions" v-model="btnAction.trans" v-on:change="checkUser(btnAction.trans); SelectTransac();">
                                    <option v-for="option in optAction" v-bind:value="option.value">
                                      {{ option.text }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        <!-- </form> -->
                        <div class="col-sm-12 col-md-12 col-lg-12" v-show="btnShow"><hr></div>
                        <div class="row-fluid">
                          <div class="col-sm-12 col-md-12 col-lg-12">
                            <table id="usermngtdata" class="table table-bordered table-striped table-condensed table-hover" width="100%"></table>
                          </div>
                        </div>
                        <!-- end of page content  -->
                    </div>
                  </div>

                  <!-- Add Modal -->
                  <div class="modal fade" id="myModalAdd" role="dialog" v-if="showAddModal">
                    <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" v-on:click="showAddModal=false" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <h5 class="modal-title"><b>Add Control Panel User</b></h5>
                        </div>
                        <div class="modal-body">
                          <!-- <form action="#" method="get" autocomplete="off"> -->
                            <div class="form-group">
                              <input type="hidden" name="addid" id="addid" class="form-control form-control-lg" placeholder="ID (Auto)" v-model="newUser.userid" disabled>
                            </div>
                            <div class="form-group">
                              <span>Username</span>
                              <input type="text" name="addusername" id="addusername" class="form-control form-control-lg" autocomplete="none"
                                placeholder="Username" v-model="newUser.username" v-on:keyup.enter="setFocus('adduserpass')">
                            </div>
                            <div class="form-group">
                              <span>Password</span>
                              <input type="text" name="adduserpass" id="adduserpass" class="form-control form-control-lg" autocomplete="none"
                                placeholder="Password" v-model="newUser.userpass" v-on:keyup.enter="setFocus('modeuserlevel')">
                            </div>
                            <div class="form-group">
                              <span>Role</span>
                              <select class="form-control form-control-lg" id="modeuserlevel" v-model="newUser.rights" v-on:change="setFocus('modeuseraccess')">
                                <option v-for="option in optUserlevel" v-bind:value="option.value">
                                  {{ option.text }}
                                </option>
                              </select>
                            </div>
                            <div class="form-group">
                              <span>Rights</span>
                              <select class="form-control form-control-lg" id="modeuseraccess" v-model="newUser.access" v-on:change="setFocus('modeactive')">
                                <option v-for="option in optUseraccess" v-bind:value="option.value">
                                  {{ option.text }}
                                </option>
                              </select>
                            </div>
                            <div class="form-group" style="display:none">
                              <span>Status</span>
                              <select class="form-control form-control-lg" id="modeactive" v-model="newUser.active" v-on:change="setFocus('modepartner')">
                                <option v-for="option in optActive" v-bind:value="option.value">
                                  {{ option.text }}
                                </option>
                              </select>
                            </div>
                            <div class="form-group">
                              <span>Partner Name</span>
                              <select class="form-control form-control-lg" id="modepartner" v-model="newUser.vessel_partner" v-on:change="setFocus('addbtn')">
                                <option v-for="option in optPartner" v-bind:value="option.partnerid">
                                  {{ option.partnername }}
                                </option>
                              </select>
                            </div>
                            <div class="form-group">
                              <button type="button" id="addbtn" class="btn btn-primary" v-on:click="showAddModal=false; addUser();" data-dismiss="modal">Add User</button>
                            </div>
                          <!-- </form> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end modal -->

                  <!-- Edit Modal -->
                  <div class="modal fade" id="myModalEdit" role="dialog">
                    <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" v-on:click="showEditModal=false; removeData();" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <h5 class="modal-title"><b>Edit Control Panel User</b></h5>
                        </div>
                        <div class="modal-body">
                          <form action="#" method="get" autocomplete="off">
                            <div class="form-group" style="display:none">
                              <input type="text" name="editid" id="editid" class="form-control form-control-lg" v-model="currUser.userid">
                            </div>
                            <div class="form-group">
                              <span>Username</span>
                              <input type="text" name="editusername" id="editusername" class="form-control form-control-lg"
                                v-model="currUser.username" v-on:keyup.enter="setFocus('edituserpass')">
                            </div>
                            <div class="form-group">
                              <span>Password</span>
                              <input type="password" name="edituserpass" id="edituserpass" class="form-control form-control-lg"
                                v-model="currUser.userpass" v-on:keyup.enter="setFocus('editeuserlevel')">
                            </div>
                            <div class="form-group">
                              <span>Role</span>
                              <select class="form-control form-control-lg" id="editeuserlevel" v-model="currUser.rights" v-on:change="setFocus('edituseraccess')">
                                <option v-for="option in optUserlevel" v-bind:value="option.value">
                                  {{ option.text }}
                                </option>
                              </select>
                            </div>
                            <div class="form-group">
                              <span>Rights</span>
                              <select class="form-control form-control-lg" id="edituseraccess" v-model="currUser.access" v-on:change="setFocus('editpartner')">
                                <option v-for="option in optUseraccess" v-bind:value="option.value">
                                  {{ option.text }}
                                </option>
                              </select>
                            </div>
                            <div class="form-group">
                              <span>Status</span>
                              <select class="form-control form-control-lg" id="editpartner" v-model="currUser.active" v-on:change="setFocus('editactive')">
                                <option v-for="option in optActive" v-bind:value="option.value">
                                  {{ option.text }}
                                </option>
                              </select>
                            </div>
                            <div class="form-group">
                              <span>Partner Name</span>
                              <select class="form-control form-control-lg" id="editactive" v-model="currUser.vessel_partner" v-on:change="setFocus('editbtn')">
                                <option v-for="option in optPartner" v-bind:value="option.partnerid">
                                  {{ option.partnername }}
                                </option>
                              </select>
                            </div>
                            <div class="form-group">
                              <button type="button" id="editbtn" class="btn btn-primary" v-on:click="showEditModal=false; updateUser();" data-dismiss="modal">Update</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end modal -->

                  <!-- Delete Modal -->
                  <div class="modal fade" id="myModalDel" role="dialog">
                    <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" v-on:click="showDeleteModal=false" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <h5 class="modal-title"><b>Control Panel User</b></h5>
                        </div>
                        <div class="modal-body">
                          <div class="form-group">
                            <span>Delete &nbsp;{{ delName }} ?</span>
                          </div>
                          <hr>
                          <button type="button" class="btn btn-danger" v-on:click="showDeleteModal=false; GetCheckValue();" data-dismiss="modal">YES</button>
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          <button type="button" class="btn btn-primary" v-on:click="showDeleteModal=false;" data-dismiss="modal">NO</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end modal -->

                </div>
                <!-- end appuser -->
              </div>
            </div>
          </div>
        </div>
        <!-- /#page-content-wrapper -->
      </div>
      <!-- /#wrapper -->

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <?php include('footer.php');?>
      <script type="text/javascript" src="assets/js/user.js"></script>
      <script>
        $('#systemmngt').addClass('mm-active');
        $('#systemmngt').find('ul').addClass('mm-collapse mm-show');

        checkMenuPermission();
        var BodyEl = document.getElementsByTagName('body');
        var menuObj = document.getElementById(BodyEl[0].dataset.target);
        menuObj.classList.add('current-active');
      </script>
      <link rel="stylesheet" href="./assets/datatables/jquery.dataTables.min.css"/>
      <script src="./assets/datatables/jquery.dataTables.min.js"></script>
      <link rel="stylesheet" href="./assets/css/datatable_sort.css"/>
      <script src="./assets/datatables/input.js"></script>
      <script>
        AttachEvent(document, 'click', ResetTime);
        AttachEvent(document, 'mousemove', ResetTime);
        AttachEvent(document, 'keypress', ResetTime);
        AttachEvent(window, 'load', ResetTime);

        try {
          _localStorage = window.localStorage;
        }
        catch (ex) {
        }

        _idleSecondsTimer = window.setInterval(CheckIdleTime, 1000);
      </script>
    </div>
</body>

</html>
