<html lang="en">

<!-- Header file -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/jquery.datetimepicker.min.css" />
    <link href="https://rawgit.com/abodelot/jquery.json-viewer/master/json-viewer/jquery.json-viewer.css" rel="stylesheet"/>
    <style type="text/css">
        body,
        html {
            overflow: hidden;
        }

        #loading-modal {
            position: absolute;
            width: 100%;
            height: 100%;
            background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            /* FF3.6-15 */
            background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
            /* IE6-9 fallback on horizontal gradient */
            /*================*/
            z-index: 9999;
        }

        #loading-modal-content {
            width: 175px;
            margin: 15% auto;
            text-align: center;
        }
    </style>
</head>
<!-- Header file -->

<body data-target="mnpanellog" class="open-menu" style="overflow: visible;">
  <div id="loading-modal">
    <div id="loading-modal-content">
      <p style="color:#000">Loading page, please wait</p>
      <p><img src="assets/img/loader.svg" alt=""></p>
    </div>
  </div>
  <title>Control Panel User History - PassCess Control Panel</title>

  <!-- Bootstrap -->
  <?php include('css.php');?>

  <div id="wrapper" class="toggled">
    <!-- #sidebar-wrapper -->
    <div id="sidebar-wrapper">
      <?php include('menubar.php');?>
    </div>
    <!-- #sidebar-wrapper -->

    <!-- #menu-toggle -->
    <div id="menu-toggle" class="side-bar-btn"><i id="menu-toggle" class="glyphicon glyphicon-option-vertical"></i></div>
    <!-- #menu-toggle -->

    <!-- page-content-wrapper -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="col-md-124">
          <div style="height: 0px"></div>
            <div class="panel panel-default" style="position: static;">
              <div class="panel-heading">
                <small class="pull-left">Control Panel User History</small>
                <small class="pull-right">PassCess</small>
                <div class="clearfix"></div>
              </div>
              <div class="panel-body">
                <!-- Header -->
                <div class="row-fluid">
                  <?php include('logo.php');?>
                </div>
                <!-- Header -->
                <div id = "userhist">
                  <div class="row-fluid" id="main-page-content">
                    <div class="col-lg-12 col-md-12">
                      <h1 class="form-title">User History</h1>
                        <!-- page contents go here -->
                        <div class="row-fluid">
                          <!-- <div class="col-sm-3 col-md-3 col-lg-3">
                              <span>Username :</span>
                              <input type="text" class="form-control" id="modeUserid" placeholder="Search" v-on:keydown.enter="getallUser()" v-model="userSett.userid">
                          </div> -->
                          <div class="col-sm-3 col-md-3 col-lg-3">
                            <span>Date From :</span>
                            <input id="datetimepicker1" type="text" class="form-control form-control-lg" v-model="userSett.dateFrom" >
                          </div>
                          <div class="col-sm-3 col-md-3 col-lg-3">
                            <span>Date To :</span>
                            <input id="datetimepicker2" type="text" class="form-control form-control-lg" v-model="userSett.dateTo">
                          </div>
                          <div class="col-sm-3 col-md-3 col-lg-3">
                            <span>&nbsp;</span></br>
                            <button class="btn btn-primary" type="button" id="btnsearch" v-on:click="getallUser()">
                              <i class="glyphicon glyphicon-filter"></i>
                            </button>
                          </div>
                        </div>&nbsp;<hr>

                        <div class="row-fluid">
                          <div class="col-sm-12 col-md-12 col-lg-12">
                            <table id="userlogdata" class="table table-bordered table-striped table-condensed table-hover" width="100%"></table>
                          </div>

                          <!-- <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                              <table style="overflow-x:auto;" class="table table-striped table-condensed table-hover">
                                <thead>
                                  <tr class="text-center bg-primary">
                                    <td>Transaction Date</td>
                                    <td>Old Data</td>
                                    <td>New Data</td>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr class="text-center" v-for="userlist in allUser">
                                    <td>{{ userlist.trandate }}</td>
                                    <td width="15%">{{ userlist.old_data }}</td>
                                    <td width="15%">{{ userlist.new_data }}
                                      <pre id="json-renderer"></pre>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div> -->
                        </div>

                        <!-- end of page content  -->
                    </div>
                  </div>
                </div>
                <!-- end app -->
              </div>
            </div>
          </div>
        </div>
        <!-- /#page-content-wrapper -->
      </div>
      <!-- /#wrapper -->


      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <?php include('footer.php');?>
      <script type="text/javascript" src="assets/js/userloghist.js"></script>
      <!-- <script src="https://rawgit.com/abodelot/jquery.json-viewer/master/json-viewer/jquery.json-viewer.js"></script> -->
      <script>
        $('#systemmngt').addClass('mm-active');
        $('#systemmngt').find('ul').addClass('mm-collapse mm-show');

        $(document).ready(function() {
          $('#datetimepicker1').datepicker({"dateFormat": "yy-mm-dd"});
          $('#datetimepicker1').on('change', function(e){
              $("#datetimepicker1").val(this.value)[0].dispatchEvent(new Event('input'))
          });
        });
        $(document).ready(function() {
          $('#datetimepicker2').datepicker({"dateFormat": "yy-mm-dd"});
          $('#datetimepicker2').on('change', function(e){
              $("#datetimepicker2").val(this.value)[0].dispatchEvent(new Event('input'))
          });
        });

        checkMenuPermission();
        var BodyEl = document.getElementsByTagName('body');
        var menuObj = document.getElementById(BodyEl[0].dataset.target);
        menuObj.classList.add('current-active');
      </script>
      <link rel="stylesheet" href="./assets/datatables/jquery.dataTables.min.css"/>
      <script src="./assets/datatables/jquery.dataTables.min.js"></script>
      <link rel="stylesheet" href="./assets/css/datatable_sort.css"/>
      <script src="./assets/datatables/input.js"></script>
      <script>
        AttachEvent(document, 'click', ResetTime);
        AttachEvent(document, 'mousemove', ResetTime);
        AttachEvent(document, 'keypress', ResetTime);
        AttachEvent(window, 'load', ResetTime);

        try {
          _localStorage = window.localStorage;
        }
        catch (ex) {
        }

        _idleSecondsTimer = window.setInterval(CheckIdleTime, 1000);
      </script>

    </div>

</body>

</html>
